.socialMedias {
  position: absolute;
  display: flex;
  width: 180px;
  height: 90px;
  background-color: aqua;
  bottom: 50px;
  right: 220px;
  margin: 0;
  padding: 20px;
}

body {
  overflow: hidden;
  margin: 0;
  width: 1920px;
  height: 1080px;
}
